<div class="centering-agent">
    <div class="img"><img class="img" src="https://media.giphy.com/media/l0K4lPx8bvdbFMdGM/giphy.gif" alt=""></div>
    <div id="left" class="together-in-the-middle">
        <div><h1 class="burger">FLOOP</h1><a class="burger-button"> OOF</a></div>
    </div>
    <div id="right" class="together-in-the-middle">

    </div>
    <div class="input">
        <div class="center">
            <textarea class="center" rows="4" cols="50">

            </textarea>
            <div class="center"><a class="button"> OOF</a></div>
        </div>
    </div>
</div>