body {
    background: #affd6e;
}

.centering-agent {
    width: 960px;
    height: 900px;
    background: #affd6e;
    margin: auto;
}

.img {
    width: 200px;
    margin: auto;
}

.together-in-the-middle {
    float: left;
    width: 50%;
    min-height: 5px;
}

.input {
    clear: both;
    width: 100%;
}

.center {
    display: block;
    clear: both;
    margin: auto;
    text-align: center
}


.button {
    background-color: #0e3d5a;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.burger-button {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #0e3d5a;
    border: none;
    color: white;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    width: 95%;
}

.burger {
    margin: 0;
    margin-left: 5px;
    width: 95%;
    color: white;
    padding: 20px 5px;
    font-size: 28px;
    background: #853478;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.burger-eaten {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 95%;
    color: grey;
    padding: 20px 5px;
    font-size: 28px;
    background: #853478;
    text-align: center;
    border-radius: 5px;
    width: 95%;
}

#textArea {
    font-size: 20px
}